{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'generator:index' %}"><img src="{% static 'img/logo2.jpeg' %}"
        class="img-fluid" width='350px' alt="Рандомайзер-2000"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% block navbar %}
        {% if request.user.is_authenticated %}
        {% if user.get_username == 'twsomt' %}
        <li class="nav-item">
          <a class="nav-link" href="/admin/">@admin</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'generator:new_raffle' %}">Новый конкурс</a>
        </li>
        {% if user.get_username == 'twsomt' %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user_cabinet:index_lk' %}">Личный кабинет</a>
        </li>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
            {% if user.client.display_name %}
              {{ user.client.display_name }}
            {% elif user.first_name and user.last_name %}
              {{ user.get_full_name }}
            {% else %}
              {{ user.get_username }}
            {% endif %}
          </a>
        </li>
        {% endif %}
        {% if not request.user.is_authenticated %}
        <li class="text-secondary" style="">
          Ваш помощник в проведении конкурсов
        </li>
        {% endif %}
        {% endblock %}
      </ul>
    </div>
  </div>
</nav>