{% extends 'base.html' %}

{% block content %}
<fieldset>
    <legend><h2>Главный по тарелочкам</h2></legend>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, quis id! Officia cupiditate rerum excepturi in minus hic iste explicabo exercitationem inventore numquam placeat blanditiis beatae, perspiciatis magni ipsa, velit consequuntur, facilis qui eaque?</p>
</fieldset>
<form action="#" method="post" target="_blank">
    <fieldset>
    <legend><h2>Розыгрыш тут:</h2></legend>
        <label for="name">Введите ссылку на пост Вконтакте: </label>
        <input type="text" name="name" placeholder="https://vk.com/wall-1_399655" id="name" required>
        <div>
            <button type="submit">Определить победителя</button>
        </div>
    </fieldset>
</form>
<fieldset>
    <legend><h2>Проведенные конкурсы</h2></legend>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, quis id! Officia cupiditate rerum excepturi in minus hic iste explicabo exercitationem inventore numquam placeat blanditiis beatae, perspiciatis magni ipsa, velit consequuntur, facilis qui eaque?</p>
</fieldset>
<fieldset>
    <legend><h2>Какой-нибудь еще контент</h2></legend>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, quis id! Officia cupiditate rerum excepturi in minus hic iste explicabo exercitationem inventore numquam placeat blanditiis beatae, perspiciatis magni ipsa, velit consequuntur, facilis qui eaque?</p>
</fieldset>
{% endblock %}