{% extends 'base.html' %}
{% block title %}Лучшие конкурсы тут{% endblock %}
{% block content %}

<div class="p-2 bg-light border">
    <fieldset>
    <legend><h2>Провести конкурс</h2></legend>
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Введите ссылку на пост Вконтакте:</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="https://vk.com/wall-7568821_681441">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Введите желаемое количество победителей:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="3">
        </div>
        <button type="submit" class="btn btn-outline-primary">Определить победителя</button>
    </form>
<br>
</fieldset>

    <fieldset>
        <legend><h2>Мои последние конкурсы</h2></legend>
        {% for raffle in raffles%}
        <ul>
            <h3><a href="{% url 'generator:raffle_page' raffle.slug %}">{{raffle.title}}</a></h3>
            <!-- <li>Описание: {{raffle.description}}</li> -->
            <li>Ссылка на пост: <a href="#" onclick='window.open("{{raffle.link}}");return false;'>{{raffle.link}}</a></li>
            <li>Победите-ль(-ли): <a href="#" onclick='window.open("{{raffle.winner}}");return false;'>{{raffle.winner}}</a></li>
            <li>Дата создания: {{raffle.time_create|date:"d E Y"}}</li>
            <li>Дата изменения: {{raffle.time_update|date:"d E Y"}}</li>
            <li>Автор конкурса: {{raffle.creator}}</li>
        </ul>
        {% endfor %}
        <button type="button" class="btn btn-outline-primary">Показать больше конкурсов</button>
        
    </fieldset>
</div>
{% endblock %}
