{% extends 'base.html' %}
{% block title %}Мои конкурсы{% endblock %}
{% block content %}
{% load user_filters %}
<div class="p-2 bg-light ">
    <br>
    <div class="card col-md-12 p-4 text-break">
        <legend>
            <h4>Все мои конкурсы</h4>
        </legend>

        {% for raffle in page_obj%}
        <div onclick="window.location.href='{% url 'generator:raffle_page' raffle.slug %}';"
            class="card col-md-7 p-4 text-break box">
            <table class="table">
                <tr>
                    <td>Приз</td>
                    <td>{{raffle.description}}</td>
                </tr>
                <tr>
                    <td>Ссылка на пост</td>
                    <td><a href="{{raffle.link}}" target="_blank">{{raffle.link }}</a></td>
                </tr>
                <tr>
                    <td>
                        {% if raffle.winner_url|str_to_list|length == 1 %}
                        Победитель
                        {% else %}
                        Победители
                        {% endif %}
                    </td>
                    <td>
                        {% for win in raffle.winner_url|str_to_list %}
                        <a href="{{ win }}" target="_blank">{{ win }}</a>
                        {% if not forloop.last %}<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Дата и время создания</td>
                    <td>{{raffle.time_create|date:"d E Y H:i:s"}}</td>
                </tr>
                {% if raffle.time_create|date:"d E Y H i s" == raffle.time_update|date:"d E Y H i s" %}
                <tr>
                    <td>Дата и время изменения</td>
                    <td>Изменения отсутствуют</td>
                </tr>
                {% else %}
                <tr>
                    <td>Дата и время изменения</td>
                    <td>{{raffle.time_update|date:"d E Y H:i:s"}}</td>
                </tr>
                {% endif %}
                <tr>
                    <td>Автор конкурса</td>
                    {% if user.first_name and user.last_name %}
                    <td>{{ user.get_full_name }}</td>
                    {% else %}
                    <td>{{ user.get_username }}</td>
                    {% endif %}
                </tr>
            </table>
        </div>

        <br>
        {% endfor %}


        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if not page_obj.number == 1 %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-item active"><a class="page-link disabled" href="">{{ p }}</a></li>
                    {% elif p >= page_obj.number|add:-5 and p <= page_obj.number|add:5 %} 
                        <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if not page_obj.number == paginator.num_pages %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ paginator.num_pages }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
<style>
    .box:hover {
        /* border-color: rgb(13, 110, 253); */
        background-color: rgb(240, 248, 252);
        transition: 0.5s;

    }
</style>
{% endblock %}