{% extends 'base.html' %}
{% block content %}
<div class="p-2 bg-light border">
    <legend>
        <h2>Подробнее о конкурсе</h2>
    </legend>
    {% for raffle in raffles%}
    <div class="card col-md-7 p-4 text-break">
        <table class="table">
            <tr>
                <td>Заголовок</td>
                <td>{{raffle.title}}</td>
            </tr>
            <tr>
                <td>Описание</td>
                <td>{{raffle.description}}</td>
            </tr>
            <tr>
                <td>Ссылка на пост</td>
                <td><a href="{{raffle.link}}" target="_blank">{{raffle.link}}</a></td>
            </tr>
            <tr>
                <td>Победитель</td>
                <td><a href="{{raffle.winner}}" target="_blank">{{raffle.winner}}</a></td>
            </tr>
            <tr>
                <td>Дата создания</td>
                <td>{{raffle.time_create|date:"d E Y"}}</td>
            </tr>
            <tr>
                <td>Дата изменения</td>
                <td>{{raffle.time_update|date:"d E Y"}}</td>
            </tr>
            <tr>
                <td>Автор конкурса</td>
                {% if user.first_name and user.last_name %}
                <td>{{ user.get_full_name }}</td>
                {% else %}
                <td>{{ user.get_username }}</td>
                {% endif %}
            </tr>
        </table>
        <a href="{% url 'generator:my_raffles' %}"><button type="submit" class="btn btn-outline-primary">Все мои
                конкурсы</button></a>
    </div>
</div>
{% endfor %}
{% endblock %}