{% extends "base.html" %}
{% block title %}Новый конкурс{% endblock %}
{% block content %}
{% if user.client.api_vk_key %}
{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="alert alert-danger">
  {{ error|escape }}
</div>
{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger">
  {{ error|escape }}
</div>
{% endfor %}
{% endif %}
<form method="post" action="{% url 'generator:new_raffle' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Отправить">
  </fo>
  {% else %}
  <div class="alert alert-danger">
    Отсутствует корректный API-ключ
  </div>
  
  {% endif %}
  {% endblock %}