{% extends 'base.html' %}
{% block content %}
{% load user_filters %}
{% load static %}

<div class="p-2 bg-light">
    <br>
    <div class="card col-md-12 p-4 text-break">
        <legend>
            <h4>Конкурс завершен успешно!</h4>
        </legend>
        {% for raffle in raffles%}
        <table class="table align-middle">
            <tr>
                <td><span class="align-middle">Приз</span></td>
                <td><span class="align-middle">{{ raffle.description }}</span></td>
            </tr>
            <tr>
                <td><span class="align-middle">Ссылка на пост</td>
                <td><span class="align-middle"><a href="{{ raffle.link }}" target="_blank">{{raffle.link}}</a></span>
                </td>
            </tr>
            <tr>
                <td><span class="align-middle">
                        Победители
                    </span>
                </td>
                <td class="block1">
                    <div class="spinner-border text-primary" role="status">
                    </div>
                </td>
                <td class="block2">
                    <span class="align-middle">
                        {% define raffle.winner_url|str_to_list as winner_url %}
                        {% define raffle.winner_photo|str_to_list as winner_photo %}
                        {% define raffle.winner_first_name|str_to_list as winner_first_name %}
                        {% define raffle.winner_last_name|str_to_list as winner_last_name %}
                        <div class="shows">
                        {% for i in raffle.winner|str_to_list|length|make_range %}
                        
                            <div>
                                <img src="{{ winner_photo|index:i }}" alt="Победитель" class="rounded" style="margin-left: -5px;">
                                <a href="{{ winner_url|index:i }}" target="_blank"> {{ winner_first_name|index:i }} {{ winner_last_name|index:i }}</a>
                            </div>
                        {% endfor %}
                        </div>
                    </span>
                </td>
            </tr>
            <tr>
                <td><span class="align-middle">Дата и время создания</span></td>
                <td><span class="align-middle">{{ raffle.time_create|date:"d E Y H:i:s" }}</span></td>
            </tr>
            {% if not raffle.time_create|date:"d E Y H i s" == raffle.time_update|date:"d E Y H i s" %}
            <tr>
                <td><span class="align-middle">Дата и время изменения</span></td>
                <td><span class="align-middle">{{ raffle.time_update|date:"d E Y H:i:s" }}</span></td>
            </tr>
            {% endif %}
            <tr>
                <td><span class="align-middle">Автор конкурса</span></td>
                {% if user.first_name and user.last_name %}
                <td><span class="align-middle">{{ user.get_full_name }}</span></td>
                {% else %}
                <td><span class="align-middle">{{ user.get_username }}</span></td>
                {% endif %}
            </tr>
        </table>



        <div>
            <a href="{% url 'generator:my_raffles' %}" class="align-end"><button type="submit"
                    class="btn btn-outline-primary">Все мои конкурсы</button></a>
            {% define raffle.title|code as r_title %}
            {% define raffle.description|code as r_description %}
            {% define raffle.link|code as r_link %}
            {% define raffle.qty_winners|code as r_qty_winners %}
            {% define raffle.is_subscribers|code as r_is_subscribers %}
            <a href="{% url 'generator:new_raffle' %}?r_title={{ r_title }}&r_description={{ r_description }}&r_link={{ r_link }}&r_qty_winners={{ r_qty_winners }}&r_is_subscribers={{ r_is_subscribers }}" class='float-end'><img src="{% static 'img/repeat_grey.jpg' %}" class="rotate_icon disabled" width='40px' alt="Повторить конкурс"></a>
            
        </div>
    </div>
</div>

{% endfor %}
<script>
    jQuery(document).ready(function ($) {
        $('.block2').hide();
        setTimeout(() => {
            $('.block1').hide();
            $('.block2').fadeIn();
            $('.shows div:eq(0)').fadeIn(1000, function(){
            $(this).next().fadeIn(1000, arguments.callee);
            });
        }, {{ delay }})
        
    })
</script>
<style>
    .list {
        margin: 5px;
        opacity: 0;
        animation: fade 1s linear forwards;
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
</style>

<style type="text/css">
.shows {
	overflow: hidden;
}
.shows div {
	display: none;
	margin: 5px;
}

.rotate_icon:hover
{
    cursor: default;
    transform: rotate(-180deg);
    transition: all 0.2s ease-in-out 0s;
}

</style>
<!-- <script>
    $('.shows div:eq(0)').fadeIn(2000, function(){
        $(this).next().fadeIn(1000, arguments.callee);
    });
</script> -->

{% endblock %}