{% extends 'base.html' %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}
{% load user_filters %}
<div class="p-2 bg-light">
  <br>
  <div class="card col-md-12 p-4 text-break ">


    <legend class="align-end">
      <h4>Личный кабинет</h4>
    </legend>
    <div>

      <div class="container">
        <div class="row align-items-left">

          <div class="col">
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Данные аккаунта</h4>
              </div>
              <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                  {% if user.first_name and user.last_name %}
                    <li>Имя и фамилия: {{ user.get_full_name }}</li>
                  {% endif %}
                  <li>Логин: {{ user.get_username }}</li>
                  <li>Email: twsomt@ya.ru</li>
                  <li>Дата регистрации: 25.12.2022</li>
                  {% if user.client.display_name %}
                  <li>Отображаемое имя: {{ user.client.display_name }}</li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Настройки</h4>
              </div>
              <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                  <!-- <li><a href="">Изменить конкурс-таймаут</a></li> -->
                  <li><a href="{% url 'user_cabinet:display_name_update' %}">Изменить / удалить</a> псевдоним</li>
                  <li><a href="{% url 'user_cabinet:api_key_update' %}">Изменить / удалить</a> API-ключ</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Оплата и тарифы</h4>
              </div>
              <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                  {% comment %}
                    <li>Оплачено конкурсов: 999 999 999</li>
                  {% endcomment %}
                  <li>Текущий тариф: Безграничный</li>
                  <li>Действителен до: 31.12.2023</li>
                  <!-- <li><a href="">Изменить тариф</a></li> -->
                  <!-- <li><a href="">Оплатить</a></li> -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='float-end'>
      <button type="submit" class="btn btn-outline-secondary">Выход из аккаунта</button></div>
  </div>
</div>

{% endblock %}